<a href="https://colab.research.google.com/github/SKawsar/data_preprocessing_for_ML_with_Python/blob/main/Lecture_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 01: Importing Data with Pandas

Instructor: **Md Shahidullah Kawsar**
<br>Data Scientist, IDARE, Houston, TX, USA

#### Objectives:
- Challenges of reading a CSV or Excel file
- Choose columns by name before reading a csv file
- Choose columns by number before reading a csv file
- Reading only the first n number of rows

#### References:
[1] Data Source: https://stats.espncricinfo.com/ci/content/records/83548.html
https://stats.espncricinfo.com/ci/content/records/283193.html
<br>[2] Reading CSV file in pandas:
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
<br>[3] Reading Excel file in pandas: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

#### Import required libraries

In [ ]:
import pandas as pd

In [ ]:
# method 1
# reading a csv file 
df = pd.read_csv("batsman_most_runs_ODI.csv")

display(df.head())
# print(df.tail())
print(df.shape)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,1119,76

(92, 15)

In [ ]:
# number of rows
print("number of rows = ", df.shape[0])

# number of columns
print("number of columns = ", df.shape[1])

number of rows =  92
number of columns =  15

In [ ]:
# checking for missing values and data types of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  92 non-null     object
 1   Span    92 non-null     object
 2   Mat     92 non-null     int64
 3   Inns    92 non-null     int64
 4   NO      92 non-null     int64
 5   Runs    92 non-null     int64
 6   HS      92 non-null     object
 7   Ave     92 non-null     float64
 8   BF      92 non-null     int64
 9   SR      92 non-null     float64
 10  100     92 non-null     int64
 11  50      92 non-null     int64
 12  0       92 non-null     int64
 13  4s      92 non-null     object
 14  6s      92 non-null     object
dtypes: float64(2), int64(8), object(5)
memory usage: 10.9+ KB
None

In [ ]:
# checking data statistics
display(df.describe())

,Mat,Inns,NO,Runs,Ave,BF,SR,100,50,0
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,241.021739,226.891304,29.217391,7617.880435,39.145761,9560.043478,80.414239,12.217391,46.043478,12.847826
std,73.548964,69.194813,15.413585,2490.710229,6.264166,3112.855969,9.870732,8.580358,15.915928,6.101585
min,128.000000,126.000000,3.000000,5047.000000,23.570000,5504.000000,60.570000,0.000000,23.000000,2.000000
25%,189.500000,179.000000,16.000000,5760.000000,35.017500,7422.250000,74.125000,6.000000,35.000000,8.000000
50%,229.000000,217.500000,29.500000,6855.000000,38.730000,9144.500000,78.960000,10.500000,41.500000,13.000000
75%,274.750000,256.500000,40.000000,8661.250000,42.340000,10957.000000,87.167500,16.250000,52.250000,16.000000
max,463.000000,452.000000,84.000000,18426.000000,58.070000,21368.000000,117.000000,49.000000,96.000000,34.000000

In [ ]:
# column names
print(df.columns)

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')